@mixin h1 {
  font-size: 32px;
  line-height: 1.25;
  font-weight: 600;
}

@mixin h2 {
  font-size: 28px;
  line-height: 1.25;
  font-weight: 600;
}

@mixin h3 {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 600;
}

@mixin h4 {
  font-size: 20px;
  line-height: 1.44;
  font-weight: 600;
}

@mixin h5 {
  font-size: 18px;
  line-height: 1.44;
  font-weight: 600;
}

@mixin h6 {
  font-size: 16px;
  line-height: 1.375;
  font-weight: 600;
}

@mixin text-default {
  font-size: 16px;
  line-height: 1.4;
}

@mixin text-lead {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
