.form-auth {
  $root: &;

  &__container {
    @include media-breakpoint-up(lg) {
      display: flex;
    }
  }

  &__base {
    padding-top: 24px;
    padding-bottom: 48px;

    @include media-breakpoint-up(lg) {
      width: 50%;
      padding-top: 200px;
      padding-bottom: 80px;
    }
  }

  // &__logo {
  //   width: 64px;
  //   height: 64px;
  //   margin-bottom: 24px;
  // }

  &__title {
    margin-bottom: 48px;
  }

  &__content {
    padding: 80px 16px 0;
    max-width: 480px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-up(lg) {
      padding: 80px 24px 0;
    }
  }

  &__side {
    @include media-breakpoint-up(lg) {
      top: 0;
      right: 0;
      position: sticky;
      width: 50%;
      height: 100vh;
      min-height: 800px;
    }
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__field {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__actions {
    width: 100%;
    margin-top: 32px;
  }

  &__action {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
