.field {
  $root: &;

  &--disabled {
    cursor: not-allowed;
  }

  &__top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__label {
    margin-bottom: 4px;

    #{$root}--disabled & {
      color: $color-text-base-1-400;
      cursor: not-allowed;
    }
  }
}
