.header {
  $root: &;

  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-white;

  &__content {
    display: flex;
    align-items: center;
    height: 76px;
  }

  &__logo {
    display: block;
    width: 78px;
    height: 40px;
    margin-right: 312px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 35px;
  }

  &__link {
    display: block;
    color: $color-text-base-1-600;
    padding: 4px 0;

    &[href] {
      @include defaultTransition(color);

      @include hover {
        color: $color-text-accent;
      }
    }

    &--active {
      color: $color-text-accent;
    }

    &--disabled {
      color: $color-text-base-1-400;
      cursor: not-allowed;
    }
  }

  &__action {
    margin-left: auto;
  }
}
