.header {
  $root: &;

  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-white;

  @include defaultTransition(transform);

  &--hidden {
    transform: translateY(-100%);
  }

  &__content {
    display: flex;
    align-items: center;
    height: 76px;
  }

  &__logo-wrapper {
    @include media-breakpoint-up(lg) {
      width: calc(100% / 12 * 2);
    }
  }

  &__logo {
    display: block;
    width: 64px;
    height: 64px;
  }

  &__navigation {
    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: center;
      width: calc(100% / 12 * 8);
    }
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 35px;
  }

  &__link {
    display: block;
    color: $color-text-base-1-600;
    padding: 4px 0;

    &[href] {
      @include defaultTransition(color);

      @include hover {
        color: $color-text-accent;
      }
    }

    &--active {
      color: $color-text-accent;
    }

    &--disabled {
      color: $color-text-base-1-400;
      cursor: not-allowed;
    }
  }

  &__actions {
    margin-left: auto;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0;
    color: $color-black;
    margin-left: auto;

    @include media-breakpoint-up(lg) {
      display: none;
    }

    .icon {
      width: 24px;
      height: 24px;
    }
  }
}
