.tooltip {
  $root: &;

  &__button {
    width: 24px;
    height: 24px;
    color: $color-text-accent;

    @include hover {
      color: $color-text-accent-200;
    }

    @include defaultTransition(color);

    .icon {
      width: 20px;
      height: 20px;
    }
  }
}
