.map {
  $root: &;

  position: relative;
  width: 100%;
  height: 720px;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid rgba($color-border-accent-2-300, 0.1);

  &__point {
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9091 13.4288C12.9091 11.7719 14.293 10.4287 16.0001 10.4287C17.7071 10.4287 19.091 11.7719 19.091 13.4288C19.091 15.0857 17.7071 16.4289 16.0001 16.4289C14.293 16.4289 12.9091 15.0857 12.9091 13.4288Z' fill='%23262AF1'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.28577 13.4288C6.28577 8.22142 10.635 4 16.0001 4C21.3651 4 25.7143 8.22142 25.7143 13.4288C25.7143 18.0589 23.2095 21.7714 20.5719 24.3926C19.2614 25.6949 17.9472 26.6976 16.9606 27.3741C16.5849 27.6317 16.2584 27.8408 16.0001 28C15.7417 27.8408 15.4152 27.6317 15.0395 27.3741C14.0529 26.6976 12.7387 25.6949 11.4282 24.3926C8.7906 21.7714 6.28577 18.0589 6.28577 13.4288ZM16.0001 7.85724C12.8298 7.85724 10.2598 10.3517 10.2598 13.4288C10.2598 16.5059 12.8298 19.0004 16.0001 19.0004C19.1703 19.0004 21.7403 16.5059 21.7403 13.4288C21.7403 10.3517 19.1703 7.85724 16.0001 7.85724Z' fill='%23262AF1'/%3E%3Cpath d='M12.9091 13.4288C12.9091 11.7719 14.293 10.4287 16.0001 10.4287C17.7071 10.4287 19.091 11.7719 19.091 13.4288C19.091 15.0857 17.7071 16.4289 16.0001 16.4289C14.293 16.4289 12.9091 15.0857 12.9091 13.4288Z' fill='%23262AF1'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.28577 13.4288C6.28577 8.22142 10.635 4 16.0001 4C21.3651 4 25.7143 8.22142 25.7143 13.4288C25.7143 18.0589 23.2095 21.7714 20.5719 24.3926C19.2614 25.6949 17.9472 26.6976 16.9606 27.3741C16.5849 27.6317 16.2584 27.8408 16.0001 28C15.7417 27.8408 15.4152 27.6317 15.0395 27.3741C14.0529 26.6976 12.7387 25.6949 11.4282 24.3926C8.7906 21.7714 6.28577 18.0589 6.28577 13.4288ZM16.0001 7.85724C12.8298 7.85724 10.2598 10.3517 10.2598 13.4288C10.2598 16.5059 12.8298 19.0004 16.0001 19.0004C19.1703 19.0004 21.7403 16.5059 21.7403 13.4288C21.7403 10.3517 19.1703 7.85724 16.0001 7.85724Z' fill='%23262AF1'/%3E%3Cpath d='M16.0001 4C10.635 4 6.28577 8.22142 6.28577 13.4288C6.28577 18.0589 8.7906 21.7714 11.4282 24.3926C12.7387 25.6949 14.0529 26.6976 15.0395 27.3741C15.4152 27.6317 15.7417 27.8408 16.0001 28C16.2584 27.8408 16.5849 27.6317 16.9606 27.3741C17.9472 26.6976 19.2614 25.6949 20.5719 24.3926C23.2095 21.7714 25.7143 18.0589 25.7143 13.4288C25.7143 8.22142 21.3651 4 16.0001 4ZM16.0001 10.4287C14.293 10.4287 12.9091 11.7719 12.9091 13.4288C12.9091 15.0857 14.293 16.4289 16.0001 16.4289C17.7071 16.4289 19.091 15.0857 19.091 13.4288C19.091 11.7719 17.7071 10.4287 16.0001 10.4287ZM10.2598 13.4288C10.2598 10.3517 12.8298 7.85724 16.0001 7.85724C19.1703 7.85724 21.7403 10.3517 21.7403 13.4288C21.7403 16.5059 19.1703 19.0004 16.0001 19.0004C12.8298 19.0004 10.2598 16.5059 10.2598 13.4288Z' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
    cursor: pointer;
  }

  &__cluster {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $color-white;
    color: $color-black;
    border: 2px solid $color-bg-accent-100;
  }

  &__loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-bg-base-1-100, 0.75);
    pointer-events: none;
    opacity: 0;

    @include defaultTransition(opacity);

    #{$root}--loading & {
      opacity: 1;
    }
  }

  &__sidebar {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 25%;
    height: calc(100% - 24px);
    background-color: $color-white;
    border-radius: 16px;
    overflow: auto;
  }

  &__bar {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 24px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-bg-accent-100;
    border-radius: 12px;
  }

  &__bar-action {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: $color-white;
    padding: 0;
    border: 0;
    padding: 0 72px 0 24px;
    font-weight: 600;
    height: 48px;

    @include defaultTransition(color);

    @include hover {
      color: rgba($color-white, 0.8);
    }

    .icon {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }

  &__bar-close {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: transparent;
    color: $color-white;
    padding: 0;
    border: 0;

    @include defaultTransition(color);

    @include hover {
      color: rgba($color-white, 0.8);
    }

    .icon {
      width: 24px;
      height: 24px;
    }
  }

  &__controls {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    background-color: $color-white;
    box-shadow: 0px 0px 12px 0px rgba($color-black, 0.12);
    border-radius: 8px;
  }

  &__zoom {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-black;
    border: 0;
    padding: 0;
    width: 40px;
    height: 36px;

    @include defaultTransition(color);

    &:not(#{$root}__zoom--disabled) {
      @include hover {
        color: $color-bg-accent-100;
      }
    }

    .icon {
      width: 24px;
      height: 24px;
    }

    &--disabled {
      cursor: not-allowed;
      color: rgba($color-black, 0.5);
    }
  }
}
