.map {
  $root: &;

  position: relative;
  width: 100%;
  height: 500px;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid rgba($color-border-accent-2-300, 0.1);

  @include media-breakpoint-up(lg) {
    height: 720px;
  }
  @include media-breakpoint-only(md) {
    height: 640px;
  }

  &--fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    border: 0;
    border-radius: 0;
    background-color: $color-white;
    overflow-y: scroll;
  }

  &__point {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    cursor: pointer;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: $color-white;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.21);

    .icon {
      width: 16px;
      height: 16px;
    }
  }

  &__cluster {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $color-white;
    color: $color-black;
    border: 2px solid $color-bg-accent-100;
    cursor: pointer;
  }

  &__loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-bg-base-1-100, 0.75);
    pointer-events: none;
    opacity: 0;

    @include defaultTransition(opacity);

    #{$root}--loading & {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__sidebar {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(calc(-100% - 16px));

    @include defaultTransition(transform);

    @include media-breakpoint-up(lg) {
      top: 12px;
      left: 12px;
      height: calc(100% - 24px);
    }
    @media (min-width: 1440px) {
      width: 404px;
    }
    @media (max-width: 1439px) and (min-width: 1300px) {
      width: 380px;
    }
    @media (max-width: 1299px) and (min-width: 1025px) {
      width: 360px;
    }

    #{$root}--sidebar-show & {
      transform: translateX(0);
    }
  }

  &__sidebar-toggle {
    position: absolute;
    z-index: 1;
    width: 28px;
    height: 36px;
    background-color: $color-bg-accent-100;
    color: $color-white;
    border-radius: 8px;

    @include defaultTransition(background-color, left);

    @include hover {
      background-color: $color-bg-accent-200;
    }

    &:focus {
      background-color: $color-bg-accent-300;
      box-shadow: 0 0 0 2px rgba($color-border-accent-2-100, 0.4);
    }

    &:active {
      background-color: $color-bg-accent-300;
    }

    @include media-breakpoint-up(lg) {
      top: 16px;
      left: calc(100% + 8px);
    }
    @include media-breakpoint-down(md) {
      top: 16px;
      right: 16px;
    }

    #{$root}:not(#{$root}--sidebar-show) & {
      @include media-breakpoint-up(lg) {
        left: calc(100% + 28px);
      }
      @include media-breakpoint-down(md) {
        left: calc(100% + 32px);
      }
    }

    #{$root}:not(#{$root}--is-dirty) & {
      display: none;
    }

    .icon {
      @include defaultTransition(transform);
    }

    #{$root}:not(#{$root}--sidebar-show) & {
      .icon {
        transform: rotate(180deg);
      }
    }
  }

  &__sidebar-content {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $color-white;
    overflow: hidden;

    @include media-breakpoint-up(lg) {
      border-radius: 16px;
      box-shadow: 0px 0px 12px 0px rgba($color-black, 0.12);
    }
  }

  &__sidebar-loading {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: $color-white;
    opacity: 0;

    @include defaultTransition(opacity);

    #{$root}--sidebar-pending & {
      opacity: 1;
    }
  }

  &__bar {
    position: absolute;
    z-index: 1;
    bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-bg-accent-100;
    border-radius: 12px;

    @media (min-width: 1300px) {
      left: 50%;
      transform: translateX(-50%);
    }
    @media (max-width: 1299px) and (min-width: 1025px) {
      left: 388px;
    }
    @include media-breakpoint-only(md) {
      left: 50%;
      transform: translateX(-50%);
    }
    @include media-breakpoint-down(sm) {
      left: 12px;
      width: calc(100% - 24px);
    }

    #{$root}--fullscreen & {
      left: 50%;
      transform: translateX(-50%);

      @include media-breakpoint-down(sm) {
        width: calc(100% - 32px);
      }
    }
  }

  &__bar-action {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: $color-white;
    padding: 0;
    border: 0;
    padding: 0 72px 0 24px;
    font-weight: 600;
    height: 48px;

    @include defaultTransition(color);

    @include hover {
      color: rgba($color-white, 0.8);
    }

    .icon {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }

  &__bar-close {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: transparent;
    color: $color-white;
    padding: 0;
    border: 0;

    @include defaultTransition(color);

    @include hover {
      color: rgba($color-white, 0.8);
    }

    .icon {
      width: 24px;
      height: 24px;
    }
  }

  &__controls {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    background-color: $color-white;
    box-shadow: 0px 0px 12px 0px rgba($color-black, 0.12);
    border-radius: 8px;
  }

  &__zoom {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-black;
    border: 0;
    padding: 0;
    width: 40px;
    height: 36px;

    @include defaultTransition(color);

    &:not(#{$root}__zoom--disabled) {
      @include hover {
        color: $color-bg-accent-100;
      }
    }

    .icon {
      width: 24px;
      height: 24px;
    }

    &--disabled {
      cursor: not-allowed;
      color: rgba($color-black, 0.5);
    }
  }

  &__top {
    position: absolute;
    z-index: 1;
    top: 12px;
    right: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__message {
    display: flex;
    align-items: center;
    background-color: $color-white;
    height: 40px;
    border-radius: 8px;
    padding: 0 16px;
    box-shadow: 0px 0px 12px 0px rgba($color-black, 0.12);
    pointer-events: none;
    opacity: 0;

    @include defaultTransition(opacity);

    &.is-active {
      opacity: 1;
      pointer-events: auto;
    }

    #{$root}--fullscreen & {
      display: none;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }

    @include touchDevice() {
      display: none;
    }
  }

  &:deep(.ymaps3x0--layer.ymaps3x0--marker-layer) {
    z-index: 1;
  }

  &:deep(.ymaps3x0--layer.ymaps3x0--graphics-layer) {
    z-index: 1;
  }

  &__actions {
    position: relative;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 8px;
    background-color: $color-white;
    box-shadow: 0px 0px 12px 0px rgba($color-black, 0.12);
  }

  &__action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 0;
    padding: 0;
    color: $color-text-base-1-700;

    @include defaultTransition(color);

    @include hover {
      color: $color-text-accent;
    }

    .icon {
      width: 24px;
      height: 24px;
    }

    #{$root}--list-show &[data-map-action-button='layers'] {
      color: $color-text-accent;
    }

    #{$root}--fullscreen &[data-map-action-button='fullscreen'] {
      color: $color-text-accent;
    }
  }

  &__list {
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    padding: 4px;
    border-radius: 6px;
    background-color: $color-white;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);

    #{$root}:not(#{$root}--list-show) & {
      display: none;
    }
  }

  &__list-title {
    padding: 8px 8px 4px 8px;
    color: $color-text-base-1-500;
    margin-bottom: 4px;
  }

  &__list-item {
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &__list-action {
    width: 192px;
    padding: 8px;
    border: 0;
    text-align: left;
    background-color: transparent;
    color: $color-text-base-1-700;
    border-radius: 6px;

    @include defaultTransition(background-color);

    @include hover {
      background-color: $color-bg-base-1-400;
    }

    &.is-active {
      background-color: $color-bg-base-1-400;
      cursor: default;
    }
  }
}
