.map {
  $root: &;

  position: relative;
  width: 100%;
  height: 500px;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid rgba($color-border-accent-2-300, 0.1);

  @include media-breakpoint-up(lg) {
    height: 720px;
  }
  @include media-breakpoint-only(md) {
    height: 640px;
  }

  &--fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    border: 0;
    border-radius: 0;
    background-color: $color-white;
    overflow-y: scroll;
  }

  &__point {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px 28px;
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='31' viewBox='0 0 28 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.4287 11.4287C23.4287 6.22137 19.0789 2 13.7139 2C8.34904 2.00022 4.00005 6.2215 4 11.4287L4.00684 11.8604C4.15631 16.2899 6.5874 19.8533 9.14258 22.3926C10.453 23.6948 11.7673 24.6976 12.7539 25.374C13.1294 25.6315 13.4555 25.8408 13.7139 26C13.8431 25.9204 13.9895 25.828 14.1504 25.7236L14.6748 25.374C15.538 24.7822 16.6521 23.9407 17.7949 22.8672L18.2861 22.3926C20.8413 19.8533 23.2714 16.2899 23.4209 11.8604L23.4287 11.4287ZM18.4541 11.4287C18.4541 8.93185 16.3601 6.85742 13.7139 6.85742C11.0678 6.85764 8.97368 8.93198 8.97363 11.4287C8.97363 13.9255 11.0678 15.9998 13.7139 16V17C10.643 16.9998 8.13534 14.6594 7.98145 11.7158L7.97363 11.4287C7.97368 8.3518 10.5438 5.85764 13.7139 5.85742C16.8841 5.85742 19.4541 8.35166 19.4541 11.4287L19.4473 11.7158C19.2934 14.6595 16.785 17 13.7139 17V16C16.3602 16 18.4541 13.9256 18.4541 11.4287ZM16.8057 11.4287C16.8056 9.77186 15.4209 8.42871 13.7139 8.42871C12.007 8.42893 10.6231 9.77199 10.623 11.4287L10.627 11.583C10.7096 13.1681 12.0603 14.4285 13.7139 14.4287C15.3676 14.4287 16.7181 13.1682 16.8008 11.583L16.8057 11.4287ZM17.8057 11.4287C17.8057 13.6658 15.9449 15.4287 13.7139 15.4287C11.483 15.4285 9.62305 13.6657 9.62305 11.4287C9.6231 9.19181 11.4831 7.42893 13.7139 7.42871C15.9449 7.42871 17.8056 9.19167 17.8057 11.4287ZM24.4287 11.4287C24.4287 16.1235 22.0484 19.8916 19.502 22.5791L18.9912 23.1016C17.7982 24.2871 16.6046 25.2324 15.6396 25.9199L15.2402 26.1992C14.8502 26.4667 14.5102 26.6846 14.2393 26.8516L13.7139 27.1748L13.1895 26.8516C13.0539 26.768 12.9012 26.6714 12.7334 26.5625L12.1885 26.1992C11.2935 25.5855 10.1368 24.7122 8.94824 23.5957L8.4375 23.1016C5.70824 20.3893 3 16.4363 3 11.4287C3.00005 5.64131 7.82508 1.00022 13.7139 1C19.6028 1 24.4287 5.64118 24.4287 11.4287Z' fill='white'/%3E%3Cpath d='M10.6234 11.4288C10.6234 9.77191 12.0072 8.42873 13.7143 8.42873C15.4213 8.42873 16.8052 9.77191 16.8052 11.4288C16.8052 13.0857 15.4213 14.4289 13.7143 14.4289C12.0072 14.4289 10.6234 13.0857 10.6234 11.4288Z' fill='%230968FA'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 11.4288C4 6.22142 8.34923 2 13.7143 2C19.0793 2 23.4286 6.22142 23.4286 11.4288C23.4286 16.0589 20.9237 19.7714 18.2861 22.3926C16.9756 23.6949 15.6614 24.6976 14.6748 25.3741C14.2991 25.6317 13.9727 25.8408 13.7143 26C13.4559 25.8408 13.1294 25.6317 12.7538 25.3741C11.7672 24.6976 10.4529 23.6949 9.14247 22.3926C6.50483 19.7714 4 16.0589 4 11.4288ZM13.7143 5.85724C10.544 5.85724 7.97403 8.35171 7.97403 11.4288C7.97403 14.5059 10.544 17.0004 13.7143 17.0004C16.8845 17.0004 19.4545 14.5059 19.4545 11.4288C19.4545 8.35171 16.8845 5.85724 13.7143 5.85724Z' fill='%230968FA'/%3E%3Cpath d='M10.6234 11.4288C10.6234 9.77191 12.0072 8.42873 13.7143 8.42873C15.4213 8.42873 16.8052 9.77191 16.8052 11.4288C16.8052 13.0857 15.4213 14.4289 13.7143 14.4289C12.0072 14.4289 10.6234 13.0857 10.6234 11.4288Z' fill='%230968FA'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 11.4288C4 6.22142 8.34923 2 13.7143 2C19.0793 2 23.4286 6.22142 23.4286 11.4288C23.4286 16.0589 20.9237 19.7714 18.2861 22.3926C16.9756 23.6949 15.6614 24.6976 14.6748 25.3741C14.2991 25.6317 13.9727 25.8408 13.7143 26C13.4559 25.8408 13.1294 25.6317 12.7538 25.3741C11.7672 24.6976 10.4529 23.6949 9.14247 22.3926C6.50483 19.7714 4 16.0589 4 11.4288ZM13.7143 5.85724C10.544 5.85724 7.97403 8.35171 7.97403 11.4288C7.97403 14.5059 10.544 17.0004 13.7143 17.0004C16.8845 17.0004 19.4545 14.5059 19.4545 11.4288C19.4545 8.35171 16.8845 5.85724 13.7143 5.85724Z' fill='%230968FA'/%3E%3Cfilter id='filter0_d_1031_87' x='1' y='0' width='25.4287' height='30.1748' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.21 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_1031_87'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_1031_87' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter1_d_1031_87' x='2' y='1' width='23.4285' height='28' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.21 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_1031_87'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_1031_87' result='shape'/%3E%3C/filter%3E%3C/svg%3E%0A");
    cursor: pointer;
    transform: translate(-50%, -50%);
  }

  &__cluster {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $color-white;
    color: $color-black;
    border: 2px solid $color-bg-accent-100;
    cursor: pointer;
  }

  &__loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-bg-base-1-100, 0.75);
    pointer-events: none;
    opacity: 0;

    @include defaultTransition(opacity);

    #{$root}--loading & {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__sidebar {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(calc(-100% - 16px));

    @include defaultTransition(transform);

    @include media-breakpoint-up(lg) {
      top: 12px;
      left: 12px;
      height: calc(100% - 24px);
    }
    @media (min-width: 1440px) {
      width: 404px;
    }
    @media (max-width: 1439px) and (min-width: 1300px) {
      width: 380px;
    }
    @media (max-width: 1299px) and (min-width: 1025px) {
      width: 360px;
    }

    #{$root}--sidebar-show & {
      transform: translateX(0);
    }
  }

  &__sidebar-toggle {
    position: absolute;
    z-index: 1;
    width: 28px;
    height: 36px;
    background-color: $color-bg-accent-100;
    color: $color-white;
    border-radius: 8px;

    @include defaultTransition(background-color, left);

    @include hover {
      background-color: $color-bg-accent-200;
    }

    &:focus {
      background-color: $color-bg-accent-300;
      box-shadow: 0 0 0 2px rgba($color-border-accent-2-100, 0.4);
    }

    &:active {
      background-color: $color-bg-accent-300;
    }

    @include media-breakpoint-up(lg) {
      top: 16px;
      left: calc(100% + 8px);
    }
    @include media-breakpoint-down(md) {
      top: 16px;
      right: 16px;
    }

    #{$root}:not(#{$root}--sidebar-show) & {
      @include media-breakpoint-up(lg) {
        left: calc(100% + 28px);
      }
      @include media-breakpoint-down(md) {
        left: calc(100% + 32px);
      }
    }

    #{$root}:not(#{$root}--is-dirty) & {
      display: none;
    }

    .icon {
      @include defaultTransition(transform);
    }

    #{$root}:not(#{$root}--sidebar-show) & {
      .icon {
        transform: rotate(180deg);
      }
    }
  }

  &__sidebar-content {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $color-white;
    overflow: hidden;

    @include media-breakpoint-up(lg) {
      border-radius: 16px;
      box-shadow: 0px 0px 12px 0px rgba($color-black, 0.12);
    }
  }

  &__sidebar-loading {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: $color-white;
    opacity: 0;

    @include defaultTransition(opacity);

    #{$root}--sidebar-pending & {
      opacity: 1;
    }
  }

  &__bar {
    position: absolute;
    z-index: 1;
    bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-bg-accent-100;
    border-radius: 12px;

    @media (min-width: 1300px) {
      left: 50%;
      transform: translateX(-50%);
    }
    @media (max-width: 1299px) and (min-width: 1025px) {
      left: 388px;
    }
    @include media-breakpoint-only(md) {
      left: 50%;
      transform: translateX(-50%);
    }
    @include media-breakpoint-down(sm) {
      left: 12px;
      width: calc(100% - 24px);
    }

    #{$root}--fullscreen & {
      left: 50%;
      transform: translateX(-50%);

      @include media-breakpoint-down(sm) {
        width: calc(100% - 32px);
      }
    }
  }

  &__bar-action {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: $color-white;
    padding: 0;
    border: 0;
    padding: 0 72px 0 24px;
    font-weight: 600;
    height: 48px;

    @include defaultTransition(color);

    @include hover {
      color: rgba($color-white, 0.8);
    }

    .icon {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }

  &__bar-close {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: transparent;
    color: $color-white;
    padding: 0;
    border: 0;

    @include defaultTransition(color);

    @include hover {
      color: rgba($color-white, 0.8);
    }

    .icon {
      width: 24px;
      height: 24px;
    }
  }

  &__controls {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    background-color: $color-white;
    box-shadow: 0px 0px 12px 0px rgba($color-black, 0.12);
    border-radius: 8px;
  }

  &__zoom {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-black;
    border: 0;
    padding: 0;
    width: 40px;
    height: 36px;

    @include defaultTransition(color);

    &:not(#{$root}__zoom--disabled) {
      @include hover {
        color: $color-bg-accent-100;
      }
    }

    .icon {
      width: 24px;
      height: 24px;
    }

    &--disabled {
      cursor: not-allowed;
      color: rgba($color-black, 0.5);
    }
  }

  &__top {
    position: absolute;
    z-index: 1;
    top: 12px;
    right: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__message {
    display: flex;
    align-items: center;
    background-color: $color-white;
    height: 40px;
    border-radius: 8px;
    padding: 0 16px;
    box-shadow: 0px 0px 12px 0px rgba($color-black, 0.12);
    pointer-events: none;
    opacity: 0;

    @include defaultTransition(opacity);

    &.is-active {
      opacity: 1;
      pointer-events: auto;
    }

    #{$root}--fullscreen & {
      display: none;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }

    @include touchDevice() {
      display: none;
    }
  }

  &:deep(.ymaps3x0--layer.ymaps3x0--marker-layer) {
    z-index: 1;
  }

  &:deep(.ymaps3x0--layer.ymaps3x0--graphics-layer) {
    z-index: 1;
  }

  &__actions {
    position: relative;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 8px;
    background-color: $color-white;
    box-shadow: 0px 0px 12px 0px rgba($color-black, 0.12);
  }

  &__action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 0;
    padding: 0;
    color: $color-text-base-1-700;

    @include defaultTransition(color);

    @include hover {
      color: $color-text-accent;
    }

    .icon {
      width: 24px;
      height: 24px;
    }

    #{$root}--list-show &[data-map-action-button='layers'] {
      color: $color-text-accent;
    }

    #{$root}--fullscreen &[data-map-action-button='fullscreen'] {
      color: $color-text-accent;
    }
  }

  &__list {
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    padding: 4px;
    border-radius: 6px;
    background-color: $color-white;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);

    #{$root}:not(#{$root}--list-show) & {
      display: none;
    }
  }

  &__list-title {
    padding: 8px 8px 4px 8px;
    color: $color-text-base-1-500;
    margin-bottom: 4px;
  }

  &__list-item {
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  &__list-action {
    width: 192px;
    padding: 8px;
    border: 0;
    text-align: left;
    background-color: transparent;
    color: $color-text-base-1-700;
    border-radius: 6px;

    @include defaultTransition(background-color);

    @include hover {
      background-color: $color-bg-base-1-400;
    }

    &.is-active {
      background-color: $color-bg-base-1-400;
      cursor: default;
    }
  }
}
