.autocomplete {
  $root: &;

  position: relative;

  &--showall {
    &:deep(.v-field__input) {
      flex-wrap: wrap;
      padding-bottom: 38px;
    }
  }

  &--hide-no-data {
    &:deep(.v-autocomplete__menu-icon) {
      // display: none;
    }
  }

  &__item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: $color-bg-base-1-400;
    padding: 2px 8px;
    border-radius: 8px;
  }

  &__toggle {
    background-color: $color-bg-base-1-400;
    padding: 2px 8px;
    border-radius: 8px;
    align-self: self-start;
    margin-top: 8px;

    @include defaultTransition(background-color);

    @include hover {
      background-color: $color-bg-base-1-500;
    }

    #{$root}--showall & {
      position: absolute;
      bottom: 8px;
      left: 12px;
    }
  }

  &__checkbox {
    position: relative;
    border-radius: 4px;
    width: 16px;
    height: 16px;
    border: 2px solid $color-border-accent-2-100;

    @include defaultTransition(background-color);

    @at-root .v-list-item--active & {
      background-color: $color-bg-accent-100;
    }
  }

  &__mark {
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    width: 100%;
    height: 100%;
    opacity: 0;

    @include defaultTransition(opacity);

    @at-root .v-list-item--active & {
      opacity: 1;
    }

    &:before {
      display: block;
      width: 12px;
      height: 12px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z' fill='%23fff' /%3E%3C/svg%3E");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      content: '';
    }
  }

  &:deep(.v-autocomplete__selection) {
    max-width: 80%;
    width: auto;
    height: auto;
  }
}
